include /templates/common.jade

#content-management-create-filter

script(type='text/javascript').
    const csrfToken = "#{csrf_token}";

script(src='/javascript/manager/content-management/create-filter/create-filter.renderer.bundle.js')

script(type='text/javascript').
    pageRenderers.contentManagement.createFilter.renderer('content-management-create-filter');
