include /templates/common.jade

#content-management-filter

script(type='text/javascript').
    const csrfToken = "#{csrf_token}";

div#init_data_filter(style="display: none")
    | #{filterToEdit}

script(src='/javascript/manager/content-management/filter/filter.renderer.bundle.js')

script(type='text/javascript').
    pageRenderers.contentManagement.filter.renderer(
        'content-management-filter',
         {
            filter: document.getElementById('init_data_filter').textContent,
            wasFreshlyCreatedMessage: "#{wasFreshlyCreatedMessage}"
         }
    );
